name: CI - Docker Build for Travel Web

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t travel_front .

      - name: Run container test
        run: |
          docker run -d -p 80:80 travel_front
          sleep 5
          curl -I http://localhost:80

